/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-column-center{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.block-center{
    display: block !important;
    margin: 0 auto !important;
}

.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}